.blog{margin: 10px 10px;display: flex;flex-direction: column;padding: 10px 100px;}.blog div{text-align: left;}
@media (min-width:200px) and (max-width:600px){

    .blog{
        padding: 10px 10px;
    }
}