body{text-align:center} 
.socialmedia{display:flex}
.navbar-brand:hover{background-color:#edf0f3;font-weight:700;padding:10px 10px;border-radius:20px}
.navbar-nav{text-align:center;align-items:center}
.navbar-expand-lg .navbar-collapse{justify-content:flex-end}
footer{background-color:#edf0f3;width:100%;bottom:0;position:fixed;display:flex;justify-content:center;align-items:center}
footer .bottomsocials{display:flex}
footer .bottomsocials a{color:rgb(143, 125, 125)}
footer a{text-decoration:none;color:#000}
@media (min-width:200px) and (max-width:600px){footer{flex-direction:column}}
