/* Second Container--  slides */
body{
    background: url("assets/bg1.jpg") no-repeat center center/cover;
}
#introslide{
    border: 2px solid;
    height: 23rem;
}

/*  Third container-- go down  sign */
#godown{
    margin: 10px ;
    border: 2px solid;
}
#godown i{
    font-size: 5rem;
}

/*  Fourth Container-- About me */
#aboutme{
    margin-top: 10px;
    border: 2px solid;
    height: 20rem;
    margin-bottom: 50px;
}
#aboutme .myprofile{
    margin: 10px 10px;
    border: 2px solid;
    display: flex;
}
#aboutme .myprofile .profile{
    margin: 10px 10px;
    border: 2px solid;
    width: 50vh;
}
#aboutme .myprofile .info{
    width: 134vh;
    margin: 10px 10px;
    border: 2px solid
}

.bloglist{
    height: 50rem;
}

