.imageCard{
height: 350px;
width: 45%;
align-items: center;
padding: 10px;

}

a{
    text-decoration: none;
    color: inherit;
}



img{
    
    height: 300px;
    width: 220px;

}
.imageCards{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-left: 100px;
   margin-right: 100px;
}