@import url('https://fonts.googleapis.com/css?family=Bangers|Cinzel:400,700,900|Lato:100,300,400,700,900|Lobster|Lora:400,700|Mansalva|Muli:200,300,400,600,700,800,900|Open+Sans:300,400,600,700,800|Oswald:200,300,400,500,600,700|Roboto:100,300,400,500,700,900&display=swap');
/* Used Google Fonts */
/* font-family: 'Roboto', sans-serif;
font-family: 'Mansalva', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Lora', serif;
font-family: 'Muli', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Cinzel', serif;
font-family: 'Bangers', cursive; */
/* Used Google Fonts */
.logo-holder{
    text-align:center;
    width: 300px;
    height: 120px;
    background: #fff;
    border-radius: 10px;
    margin: 10px;
    float: left;
    padding:20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);    
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }
  .logo-3 h3 {
    color: #e74c3c;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 50px;
    line-height:1.3;
}
a{
    text-decoration:none !important;
    display: inline-block;
}
.logo-3 p {
    font-size: 14px;
    letter-spacing: 7px;
    text-transform: uppercase;
    background: #34495e;
    font-weight: 400;
    color: #fff;
    padding-left: 5px;
}
header{
    background-color: #e3e3e3;
}
.headercss{
    display: flex;
    padding: 16px;
}
.firstNavItem{
    flex-grow: 2.5;
}
.navitems{
    color: inherit;
    text-decoration: inherit;
}

.searchTop{
    display:flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 100px;
    padding-right: 10px;

}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #ffffffa1;
    border-color: #dee2e6 #dee2e6 #fff;
}

.nav-tabs .nav-link.active:hover{
    color: #1a1c1f;
    font-weight: bold;
    background-color: #c5babaa8;
    border-color: #a3a3a3 #504d4d #b1acac;
}

.introContainer{
    background-color: #f5f5f5e3;;
    display:flex;
    padding-top: 30px;
    overflow: hidden;
    animation: slideIn;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    margin-bottom: 2.5rem;
    padding-right: 150px;
    padding-left: 150px;
}
.introContainer img {
    border-radius: 50%;
    height: 160px;
    width: 160px;
    margin-right:20px;

}
#aboutme h1 {
    padding-left: 30px;
    padding-top: 10px;
}
#aboutme p{
    padding:30px;
}
.nav-link{
    color:black;
    font-weight: bold;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid #ffffffc9;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    background-color: #e9e9e9;
}